<table id="itemlist">
<th colspan="4">Items</th>
{% for item in object_list %}
{% if not item.was_purchased %}
{% if forloop.counter|divisibleby:2 %}<tr class="alt">{% else %}<tr>{% endif %}
<td>{{ item.id }}</td>
<td>{{ item.name }}</td>
<td>Price Box Here</td>
<td>Buy Button Here</td>
</tr>
{% endif %}
{% endfor %}
</table><!--end itemlist-->

<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Add to List" />
</form>
