{% extends 'foods/base.html' %}
{% load staticfiles %}

{% block title %}Foods App!{% endblock %}

{% block content %}
<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} id="testform" name="testform">
    {% csrf_token %}
    {{ formset.management_form }}
    <ul id="formset" class="form">
    {% for form in formset %}
      <li {% cycle ,class=\"alt\" %}>
      {% for field in form.visible_fields %}
        {% if field.label != "Name" and field.label != "Purchased" and field.label != "Delete" %}
        {{ field.label|capfirst }}
        {% endif %}
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        {% endif %}
          {{ field.errors.as_ul }}
          {% if field.label != "Delete" %}
            {{ field }}
          {% else %}
            <img src="{% static 'foods/images/redx2.png' %}" width="15em" />
            {{ field }}
          {% endif %}
      {% endfor %}
      </li>
    {% endfor %}
    </ul>
<input type="submit" value="Save"/>
</form>
{% endblock %}
